
@using EntitiesObject.Entities.WebEntities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    var Register = ViewBag.Register as Out_Slogan_GetById_Result;
}
@using Phystones.Content.Texts
@if (Register != null)
{
    <h1 id="tagline">@Register.Title</h1>
    <h2 class="grid-10 center">
        @Html.Raw(Register.ContentBody)
    </h2>
}
<section class="section grid-12 center">
    <form class="custom-form" method="post">
        <fieldset>
            <h2>Lấy Thông Tin</h2>
            <ul class=" clearfix">
                <li class="grid-8 alpha form-el">
                    <div class="text-wrap">
                        <input type="text" name="inputtext" id="inputtext" style="padding:7px">
                    </div>
                </li>
                <li class="grid-4 omega form-el">
                    <a class="grid-4 center margin-top-standard btn-search" style="padding:7px 20px" onclick="Checkcompany()">@WebContent.Search</a>
                </li>
            </ul>
        </fieldset>
    </form>
</section>
<section class="section grid-12 center" id="saveContact">
    @Html.Partial("SendMess")
</section>
@section scripts{
    <script>
        var Checkcompany = function () {
            Loading.Show();
             $.ajax({
            type: "POST",
            url: '@Url.Action("DataCompany")',
            data: { Name: $("#inputtext").val() },
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $("#MST").val(response.MST);
                    $("#CompanyName").val(response.CompanyName);
                    $("#Address").val(response.Address);
                    $("#CEO").val(response.CEO); 
                };
            },
            complete: function () {
                Loading.Hide();
            }
        });
        }
    </script>

}
