@using MyConfig
@using EntitiesObject.Entities.WebEntities
@{
    ViewBag.Title = WebContent.DigitalSignature;
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    var Register = ViewBag.Register as Out_Slogan_GetById_Result;
}
@using Phystones.Content.Texts
@if (Register != null)
{
    <h1 id="tagline">@Register.Title</h1>
    <h2 class="grid-10 center">
        @Html.Raw(Register.ContentBody)
    </h2>
}
<section class="section grid-12 center">
    <form class="custom-form" method="post">
        <fieldset>
            <h2>Lấy Thông Tin</h2>
            <ul class=" clearfix">
                <li class="grid-8 alpha form-el">
                    <div class="text-wrap">
                        <input type="text" name="inputtext" id="inputtext" style="padding:7px">
                    </div>
                </li>
                <li class="grid-4 omega form-el">
                    <a class="grid-4 center margin-top-standard btn-search" style="padding:7px 20px" onclick="Checkcompany()">@WebContent.Search</a>
                </li>
            </ul>
        </fieldset>
    </form>
</section>
<section class="section grid-12 center" id="saveContact">
    @Html.Partial("SendMess")
    @if (MyConfiguration.Default.ShowUpload)
    {
        <div class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </div>
    }
</section>
@section styles{
    <link href="~/Content/Theme/assets/js/dropzone/dropzone.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/Theme/assets/js/dropzone/dropzone.js"></script>
    <script>
        var Checkcompany = function () {
            Loading.Show();
             $.ajax({
            type: "POST",
            url: '@Url.Action("DataCompany")',
            data: { Name: $("#inputtext").val() },
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $("#MST").val(response.MST);
                    $("#CompanyName").val(response.CompanyName);
                    $("#Address").val(response.Address);
                    $("#CEO").val(response.CEO);
                };
            },
            complete: function () {
                Loading.Hide();
            }
        });
        }
    </script>
    @(MyConfiguration.Default.ShowUpload){
    <script>
        Dropzone.autoDiscover = false;
        jQuery(document).ready(function () {
            var myDropzone = new Dropzone(".dropzone", {
                url: "/Register/SaveUploadedFile",
                maxFiles: 5,
                autoProcessQueue: false,
                addRemoveLinks: true,
                init: function () {
                    var drop = this; // Closure
                    this.on('error', function (file, errorMessage) {
                        if (errorMessage.indexOf('Error 404') !== -1) {
                            var errorDisplay = document.querySelectorAll('[data-dz-errormessage]');
                            errorDisplay[errorDisplay.length - 1].innerHTML = 'Error 404: The upload page was not found on the server';
                        }
                        if (errorMessage.indexOf('File is too big') !== -1) {
                            alert('i remove current file');
                            drop.removeFile(file);
                        }
                    });
                },
                init: function () {
                    var submitButton = document.querySelector("#subupload");
                    var myDropzone = this;

                    this.on("sending", function (file, xhr, formData) {
                        formData.append("CusId", $("#CusId").val());
                    });

                    submitButton.addEventListener("click", function () {
                        myDropzone.processQueue();
                    });

                }
            });
        });
    </script>
    }
}
