@model MyAdmin.Models.Account.PermissionUserModel

@{
    Layout = "~/Views/Shared/Metronic/_MainLayout.cshtml";
}
@if (Model.ListPageFunction.Any())
{
    <link href="~/Content/Plugin/checkboxtree/style/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/Plugin/checkboxtree/style/jqx.energyblue.css" rel="stylesheet" />
    <script src="~/Content/Plugin/checkboxtree/js/jqxcore.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxbuttons.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxscrollbar.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxpanel.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxdragdrop.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxtree.js"></script>
    <script src="~/Content/Plugin/checkboxtree/js/jqxcheckbox.js"></script>

    <div id='jqxWidget'>
        <div style='float: left;'>
            <div id='jqxTreeFunctionPage' style='visibility: hidden; float: left; margin-left: 20px;'>
                <ul>
                    <li id='liRoot'>Root
                        @helper BuildMenu(List<EntitiesObject.Entities.MetroMembershipEntities.PageFunction> menu, int? parentid = 0)
                        {
                            var items = menu.Where(m => m.ParentID == parentid).ToList();
                            if (items.Any())
                            {
                                <ul>
                                    @foreach (var item in items)
                                    {
                                        <li id="@item.ID" href="@(string.IsNullOrEmpty(item.LinkUse) ? item.LinkUse : "#" + item.LinkUse)">@item.Name
                                            @BuildMenu(menu, item.ID)
                                        </li>
                                    }
                                </ul>
                            }
                        }
                        @BuildMenu(Model.ListPageFunction)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#jqxTreeFunctionPage').jqxTree({
                height: '750px',
                width: '450px',
                theme: 'energyblue',
                hasThreeStates: true
                , checkboxes: true
            });
            $('#jqxTreeFunctionPage').css('visibility', 'visible');

            $("#jqxTreeFunctionPage").jqxTree('selectItem', $("#liRoot")[0]);
        });
    </script>
}