@model BusinessObject.MembershipModule.Enums.AdminGroupModel
@{
    Layout = "~/Views/Shared/Metronic/_MainLayout.cshtml";
}
<style>
    #myTable1 tr.odd.selected {
        background-color:#abb9d3 !important
    }
    #myTable1 tr.selected {
        background-color:#b0bed9  !important
    }
</style>
<div class="outer" id="goldfree">
    <div class="inner bg-light lter">
        <!--Begin Datatables-->
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    @* <header>
                        <h5>
                            <span>Cấp quyền cho nhóm</span>
                        </h5>
                    </header>*@
                    <div id="collapse4" class="body">
                        <br />
                        <table id="myTable1" class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-left">STT</th>
                                    <th class="text-left">ID</th>
                                    <th class="text-left">Tên trang</th>
                                    <th class="text-left">Trạng thái</th>
                                    <th class="text-left">View</th>
                                    <th class="text-left">Edit-View</th>
                                    <th class="text-left">View-Delete</th>
                                    <th class="text-left">View-Edit-Delete</th>
                                    <th class="text-left">Xóa quyền</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.inner -->
</div>
@section scripts{
    <script type="text/javascript">
        var ChildTable = null;
        var createChildTable = function() {
            setTimeout(
                function() {
                    ChildTable.fnFilter();
                }, 500);

        };
        var AdminGetPermissionGroup = function() {
            $.ajax({
                url: '@Url.Action("AdminGetPermissionGroup", "Membership")',
                type: "post",
                data: {
                    "GroupId": '@Model.ID',
                },
                dataType: 'json',
                beforeSend: function() {
                    ShowLoading();
                },
                success: function(res) {
                    var tbl = '';
                    if (res != null) {
                        $('#myTable1 tbody').html(res.Data);

                        //cập nhật trạng thái
                        $('.classStatus input[type="checkbox"]').click(function() {
                            var id = $(this).val();
                            var isEnable = $("#classStatus_" + id).is(":checked");
                            UpdateAdminStatusPageFunction(id, isEnable);
                        });

                        // tạo quyền cho nhóm
                        $('.classView input[type="radio"]').click(function() {
                            var id = $(this).val();
                            var rules = $(this).attr('rules');
                            //var check = $(this).is(":checked") ? 1 : 0;
                            var check = $(this).is(":checked") ? 1 : 0;
                            UpdateAndInsertGroupPermission(id, rules, check);
                        });

                    } else {
                        showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                    }

                    ChildTable = $('#myTable1').dataTable({
                        "scrollY": "500px",
                        "scrollCollapse": true,
                        "bSort": false,
                        "bFilter": false,
                        "paging": false
                    });

                },
                error: function() {
                    showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
                },
                complete: function() {
                    HideLoading();
                }
            });
        };

        var UpdateAdminStatusPageFunction = function(id, isEnable) {
            $.ajax({
                url: '@Url.Action("UpdateAdminStatusPageFunction", "Membership")',
                type: "post",
                data: {
                    "ID": id,
                    "IsEnable": isEnable,
                },
                dataType: 'json',
                beforeSend: function() {
                    ShowLoading();
                },
                success: function(res) {
                    if (res != null) {
                        if (res.Success == 0) {
                            //showSuccessToastr(res.Message);
                            //oTable.fnFilter();
                        } else {
                            showErrorToastr(res.Message);
                        }
                    } else {
                        showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                    }

                },
                error: function() {
                    showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
                },
                complete: function() {
                    HideLoading();
                }
            });
        };

        var UpdateAndInsertGroupPermission = function(id, rules, check) {
            $.ajax({
                url: '@Url.Action("UpdateAndInsertGroupPermission", "Membership")',
                type: "post",
                data: {
                    "ID": id,
                    "GroupId": '@Model.ID',
                    "Rules": rules,
                    "Check": check,
                    "GroupName": $('#GroupName').val(),
                },
                dataType: 'json',
                beforeSend: function() {
                    ShowLoading();
                },
                success: function(res) {
                    if (res != null) {
                        if (res.Success == 0) {
                            //showSuccessToastr(res.Message);
                            //oTable.fnFilter();
                        } else {
                            showErrorToastr(res.Message);
                        }
                    } else {
                        showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                    }

                },
                error: function() {
                    showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
                },
                complete: function() {
                    HideLoading();
                }
            });
        };

        var MemberPermission_Delete = function(pageId) {
            if (confirm("Bạn có muốn xóa quyền này không ?")) {
                $.ajax({
                    url: '@Url.Action("MemberPermission_Delete", "Membership")',
                    type: "post",
                    data: {
                        "UserId": '@Model.ID',
                        "PageId": pageId,
                        "Type": 2,
                    },
                    dataType: 'json',
                    beforeSend: function() {
                        ShowLoading();
                    },
                    success: function(res) {
                        if (res != null) {
                            if (res.Success == 0) {
                                showSuccessToastr(res.Message);
                                AdminGetPermissionGroup();
                                //$('.btn btn-success btn-xs').click(function () {
                                //    var pageid = $(this).attr('pageId');
                                //    alert(1);
                                //    $('classxoa_' + pageid).hide();
                                //});
                            } else {
                                showErrorToastr(res.Message);
                            }
                        } else {
                            showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                        }

                    },
                    error: function() {
                        showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
                    },
                    complete: function() {
                        HideLoading();
                    }
                });
            }
        };

        $(document).ready(function() {
            AdminGetPermissionGroup();
        });

    </script>
}