@using Phystones.Content.Texts
@model Phystones.Models.Config.GeneralConfigModel
<aside id="footer" class="grid-12 center section">
    <ul class="list-icon-items clearfix">
        <li class="grid-4 alpha subsection">
            <a href="tel:@Model.Contact.Phone">
                <i class="circ secondary ss-icon ss-standard">&#x1F4AC;<i class="circ pulse"></i></i>
            </a>
            <ul class="list-plain list-regular">
                <li><a class="has-border" href="tel:@Model.Contact.Phone">@Model.Contact.Phone</a></li>
            </ul>
        </li>
        <li class="grid-4 subsection">
            <a href="@Model.Contact.Facebook" target="_blank">
                <i class="circ secondary ss-icon ss-social-circle ss-facebook"><i class="circ pulse"></i></i>
            </a>
            <ul class="list-plain list-regular">
                <li><a href="@Model.Contact.Facebook" class="has-border" target="_blank">@WebContent.FollowOnFacebook</a></li>
            </ul>
        </li>
        <li class="grid-4 omega subsection">
            <a href="mailto:@Model.Contact.Email">
                <i class="circ secondary ss-icon ss-social-circle ss-mail"><i class="circ pulse"></i></i>
            </a>
            <ul class="list-plain list-regular">
                <li>
                    <a class="has-border" href="mailto:@Model.Contact.Email">
                        <span class="__cf_email__">@Model.Contact.Email</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <footer class="subsection">
        @Html.Raw(Model.Contact.FooterContent)
    </footer>
</aside>