@using BusinessObject.WebModule.Contract
@using Newtonsoft.Json
@using Phystones.Content.Texts
@using Phystones.Enums
@using Phystones.Ioc
@using Phystones.Models.Config
@{
    var webBusiness = IoC.Resolve<IWebBusiness>();
    var config = new ContactConfigModel();
    var configData = webBusiness.ConfigGetByKey(ConfigKeyEnum.ContactKey.ToString());
    if (configData != null)
    {
        var json = configData.Value;
        config = JsonConvert.DeserializeObject<ContactConfigModel>(json);
    }
}
<aside id="footer" class="grid-12 center section">
    <ul class="list-icon-items clearfix">
        <li class="grid-4 alpha subsection">
            <a href="@Url.Action("Index", "Contact")" title="@WebContent.Contact"><i class="circ secondary ss-icon ss-standard">&#x1F4AC;<i class="circ pulse"></i></i></a>
            <h3>@WebContent.Contact</h3>
            <ul class="list-plain list-regular">
                <li>@config.Phone</li>
            </ul>
        </li>
        <li class="grid-4 subsection">
            <a href="@Url.Action("Index", "Contact")" title="@WebContent.Contact"><i class="circ secondary ss-icon ss-social-circle ss-facebook"><i class="circ pulse"></i></i></a>
            <h3>@WebContent.Contact</h3>
            <ul class="list-plain list-regular">
                <li><a href="@config.Twitter" class="has-border">@WebContent.FollowOnFacebook</a></li>
            </ul>
        </li>
        <li class="grid-4 omega subsection">
            <a href="@Url.Action("Index", "Contact")" title="@WebContent.Contact"><i class="circ secondary ss-icon ss-social-circle ss-mail"><i class="circ pulse"></i></i></a>
            <h3>@WebContent.Contact</h3>
            <ul class="list-plain list-regular">
                <li>
                    <a class="has-border" href="mailto:@config.Email">
                        <span class="__cf_email__">@config.Email</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <footer class="subsection">
        @config.FooterContent
    </footer>
</aside>