<header id="header" class="clearfix section">
    <nav id="nav" class="center grid-14">
        <div class="fonts-display clearfix">
            <p class="logo mq-mobile-i-block">
                <a href="@Url.Action("Index","Home")" title="Built by Phystones - Web Solution VN">
                    <img src="~/Content/Theme/web/assets/img/logo.jpg" alt="Built by Phystones - Web Solution VN" />
                </a>
            </p>
            <br class="mq-mobile" />
            <p class="text-left alpha"><a href="@Url.Action("Index","Home")">Home</a>
            <p class="text-left"><a href="@Url.Action("Index","Work")">Work</a>
            <p class="text-left"><a href="@Url.Action("Index","Portfolio")">About</a>
            <p class="logo mq-wide-i-block mq-mid-i-block mq-small-i-block">
                <a href="@Url.Action("Index","Home")" title="Built by Phystones - Web Solution VN">
                    <img class="logo-img" src="~/Content/Theme/web/assets/img/logo.png" alt="Phystones" />
                </a>
            <p class="text-right"><a href="@Url.Action("Index","Feed")">Blog</a>
            <p class="text-right"><a href="@Url.Action("Index","Job")">Jobs</a>
            <p class="text-right omega"><a href="@Url.Action("Index","Contact")">Contact</a>
        </div>
    </nav>
    <!-- /#nav -->
</header>