@using BusinessObject.WebModule.Contract
@using BusinessObject.WebModule.Enums
@using BusinessObject.WebModule.Models.Config
@using Phystones.Helper
@using Phystones.Ioc
@using Phystones.Models.Config
<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js" lang="en">
   <![endif]-->
<!--[if IE 7]>
<html class="lt-ie10 lt-ie9 lt-ie8 no-js" lang="en">
   <![endif]-->
<!--[if IE 8]>
<html class="lt-ie10 lt-ie9 no-js" lang="en">
   <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10 no-js" lang="en">
   <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @{
        var webBusiness = IoC.Resolve<IWebBusiness>();

        var contact = webBusiness.ConfigGetByKey<ContactConfigModel>(ConfigKeyEnum.ContactKey);
        var seo = webBusiness.ConfigGetByKey<SEOConfigModel>(ConfigKeyEnum.SEOKey);
        var website = webBusiness.ConfigGetByKey<WebsiteConfigModel>(ConfigKeyEnum.WebsiteKey);

        var config = new GeneralConfigModel
        {
            Contact = contact,
            SEO = seo,
            Website = website
        };
    }

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(config.Website.Title) @(string.IsNullOrEmpty(ViewBag.Title)? "": " | " + ViewBag.Title)</title>
    <link href="~/Content/Theme/web/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/web/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/web/assets/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Content/Theme/web/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/modernizr6cb0.js"></script>
    <!--[if lte IE 10]>
    <link href="~/Content/Theme/web/assets/css/ie.css" type="text/css" rel="stylesheet" media="screen" />
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="~/Content/Theme/web/assets/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/modernizr6cb0.js"></script>
    <script src="~/Content/Theme/web/assets/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="@Url.ContentVersion("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Theme/web/assets/css/Responsive.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body class="">
    <div id="page-border">
        <div id="wrap" class="container">
            @{Html.RenderPartial("_Head_Web", config);}
            @RenderBody()
            @{Html.RenderPartial("_Footer_Web", config);}
        </div>
        <!-- /#wrap -->
        <!-- Arrow to top -->
        <a href="#" id="to-top" class="icon-box">
            <i class="ss-icon ss-standard">&#xF500;</i>
        </a>
        <!-- Modal markup -->
        <div id="modal-overlay"></div>
        <div id="modal-wrap" class="clearfix">
            <div class="vertical-center"></div>
            <div id="modal" class="grid-14 center">
                <div id="modal-content" class="clearfix">
                    <div class="grid-14 alpha omega">
                        <!-- Title -->
                        <h2></h2>
                        <!-- Tagline -->
                        <h3 class="tagline h4"></h3>
                    </div>
                    <!-- Body column 1 -->
                    <div class="grid-7 alpha"></div>
                    <!-- Body column 2 -->
                    <div class="grid-7 omega"></div>
                    <!-- UI Controls -->
                    <a href="#" id="modal-close" class="ss-icon ss-standard">&#x2421;</a>
                    <a href="#" id="modal-left">
                        <i class="ss-icon ss-standard">&#x25C5;</i>
                    </a>
                    <a href="#" id="modal-right">
                        <i class="ss-icon ss-standard">&#x25BB;</i>
                    </a>
                </div>
                <div id="modal-footer" class="clearfix">
                    <!-- Footer column 1 -->
                    <div class="grid-7 alpha"></div>
                    <!-- Footer column 2 -->
                    <div class="grid-7 omega"></div>
                </div>
            </div>
        </div>
        <div id="ie6">
        </div>
      
    </div>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/mootools-core6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/mootools-more6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/plugins6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/main6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/raphael6cb0.js"></script>
    <script type="text/javascript" src="~/Content/Theme/web/assets/js/infographics6cb0.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>
    <script src="~/Content/Theme/web/assets/js/jquery.toaster.js"></script>
    @RenderSection("scripts", false)
<div id="loading">
    <div id="loop" class="centerlop"></div>
    <div id="bike-wrapper" class="centerlop">
        <div id="bike" class="centerBike"></div>
    </div>
</div>
    
    @if (!string.IsNullOrEmpty(config.SEO.GoogleAnalyticID))
    {
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '@config.SEO.GoogleAnalyticID', 'auto');
          ga('send', 'pageview');
        </script>
    }
    @if (!string.IsNullOrEmpty(config.SEO.FacebookPixelCode))
    {
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '@config.SEO.FacebookPixelCode'); // Insert your pixel ID here.
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=@config.SEO.FacebookPixelCode&ev=PageView&noscript=1" />
        </noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->
    }
</body>
</html>
