@model BusinessObject.MembershipModule.Enums.AdminUserModel

@{
   
    Layout = "~/Views/Shared/Metronic/_MainLayout.cshtml";
    ViewBag.Title = "Danh sách thành viên";
    ViewBag.PageName = "Page Name";
    Layout = null;
}
<div class="outer">
    <div class="inner bg-light lter">
        <!--Begin Datatables-->
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                </div>
                <div class="clearfix"></div>
                <table id="myTable2" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>STT</th>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th>Có trong nhóm</th>
                            <th>Tên nhóm</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var oTable2;
    var CreateoTable = function () {
      
        oTable2 = $('#myTable2')
            .on('preXhr.dt', function () {
                ShowLoading();
            })
            .on('xhr.dt', function () {
                HideLoading();
            })
            .dataTable({
                "scrollX": true,
                "bServerSide": true,
                "bFilter": false,
                "sAjaxSource": '@Url.Action("AdminGetListUserForManyUser", "Membership")',
                "sServerMethod": "POST",
                "fnServerParams": function (aoData) {
                    aoData.push({ name: "PageID", value: '@Model.PageID' });
                    aoData.push({ name: "Rules", value: '@Model.Rules' });
                    
                },
                "columns": [
                    { "data": "Option", "sClass": "align-center", "bSortable": false },
                    { "data": "STT", "sClass": "align-center", "bSortable": false },
                    { "data": "ID", "sClass": "align-left", "bSortable": false },
                    { "data": "NickName", "sClass": "align-left" },
                    { "data": "IsLockedOut", "sClass": "align-center", "bSortable": false },
                    { "data": "CreateDate", "sClass": "align-center" },
                    { "data": "CheckGroup", "sClass": "align-center", "bSortable": false },
                    { "data": "GroupName", "sClass": "align-left", "bSortable": false }
                ],
                "lengthMenu": [[10, 20, 30, 50, 100], [10, 20, 30, 50, 100]],
            });
    };

    var UpdateAndInsertUserPermissionForManyUser = function (userid) {
        var notice = "Bạn muốn xóa Quyền này khỏi user?";
        if ($('#id_' + userid).is(":checked")==false) {
            if (!window.confirm(notice)) {
                oTable2.fnFilter();
                return false;
            }
        }
        
        $.ajax({
            url: '@Url.Action("UpdateAndInsertUserPermissionForManyUser", "Membership")',
            type: "post",
            data: {
                "PageID": '@Model.PageID',
                "UserID": userid,
                "Rules": '@Model.Rules',
                "Check": $('#id_' + userid).is(":checked") ? 1 : 0,
                //"NickName": $('#txtNickName').val(),
            },
            dataType: 'json',
            beforeSend: function() {
                ShowLoading();
            },
            success: function(res) {
                if (res != null) {
                    if (res.Success == 0) {
                    } else {
                        showErrorToastr(res.Message);
                    }
                } else {
                    showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                }

            },
            error: function() {
                showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
            },
            complete: function() {
                HideLoading();
            }
        });
    };
    $(document).ready(function () {
        console.log('vap');
        CreateoTable();
    });
</script>
