@model MyAdmin.Areas.MembershipModule.Models.PopubAdminUserManagerViewModel

@{
    /*ViewBag.Title = "Quản lý user";
    ViewBag.PageName = "Page Name";*/
}

<div class="outer">
    <div class="inner bg-light lter">

        <!--Begin Datatables-->
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <header>
                        <h5>
                            <span></span>
                        </h5>
                    </header>
                    <div class="clearfix"></div>
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul id="commenttype" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active" id="thongtin" value="1"><a href="#tabthongtin" commenttype="0" aria-controls="tabthongtin" role="tab" data-toggle="tab">Thông tin</a></li>
                            <li role="presentation" id="quyen" value="2"><a href="#tabquyen" onclick="createChildTable()" commenttype="1" aria-controls="tabquyen" role="tab" data-toggle="tab">Quyền</a></li>
                        </ul>
                        <br />
                        <div class="clearfix"></div>
                            
                        <!-- Tab panes -->
                        <div class="tab-content">
                            @*tạo/cập nhật user*@
                            <div role="tabpanel" class="tab-pane active" id="tabthongtin">
                                <div>
                                    <span id="GetUserInsertUpdateID"></span>
                                     @Html.Partial("AdminInsertUpdateUser", Model.MemberPermissionInfoModel1)
                                </div>
                            </div>

                            @*tạo quyền*@
                            @if (Model.AdminUserModel.UserID > 0)
                            {
                            <div role="tabpanel" class="tab-pane" id="tabquyen">
                                <div>
                                    <span id="AdminPermissionUserID"></span>
                                    @Html.Partial("AdminPermissionUser", Model.AdminUserInfoModel)
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
    
<script type="text/javascript">
        //$.validator.unobtrusive.parse("#myform");
        var oTable;
        var UpdateAdminGroupManager = function () {
            if ($('#GroupName').val() =="") {
                showErrorToastr("Bạn phải nhập tên nhóm!");
                return false;
            }
            var visible = $("#cbVisible").is(":checked");
            $.ajax({
                url: '@Url.Action("UpdateAdminGroupManager", "Membership")',
                type: "post",
                data: {
                    "ID": '@Model.AdminUserModel.ID',
                    "GroupName": $('#GroupName').val(),
                    "Visible": visible,
                },
                dataType: 'json',
                beforeSend: function () {
                    ShowLoading();
                },
                success: function (res) {
                    if (res != null) {
                        if (res.Success == 0) {
                            showSuccessToastr(res.Message);
                            $('#quyen').show();
                            $("#thongtin").removeClass("active");
                            $("#tabthongtin").removeClass("active");

                            $("#quyen").addClass("active");
                            $("#tabquyen").addClass("tab-pane active");
                            oTable.fnFilter();
                        } else {
                            showErrorToastr(res.Message);
                        }
                    } else {
                        showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                    }

                },
                error: function () {
                    showErrorToastr("Lỗi đường truyền, xin thử lại sau.");
                },
                complete: function () {
                    HideLoading();
                }
            });
        };

        @*var GetUserInsertUpdate = function () {
            $.ajax({
                url: '@Url.Action("GetUserInsertUpdate", "Membership")',
                type: "post",
                data: {"userId": '@Model.AdminUserModel.UserID'},
                beforeSend: function () {
                    ShowLoading();
                },
                success: function (response) {
                    $('#GetUserInsertUpdateID').html(response);
                },
                error: function () {
                    showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                },
                complete: function () {
                    HideLoading();
                }
            });
        };

        var AdminPermissionUser = function () {
            $.ajax({
                url: '@Url.Action("AdminPermissionUser", "Membership")',
                type: "post",
                data: { "userId": '@Model.AdminUserModel.UserID' },
                beforeSend: function () {
                    ShowLoading();
                },
                success: function (response) {
                    $('#AdminPermissionUserID').html(response);
                },
                error: function () {
                    showErrorToastr("Lỗi trong quá trình xử lý, xin thử lại sau.");
                },
                complete: function () {
                    HideLoading();
                }
            });
        };*@
        
        $(document).ready(function () {
            if (parseInt('@Model.AdminUserModel.ID' )== 0) {
                $('#quyen').hide();
                //$('#thanhvien').hide();
            } else {
                $('#quyen').show();
                //GetUserInsertUpdate();
                //AdminPermissionUser();
                //$('#thanhvien').show();
            }
        });
    </script>




