@using BusinessObject.WebUserModule
@using DataAccess.Repositories.WebUser
@using InsideBanCa.Helper;
@model InsideBanCa.Models.Article.CreateArticleModel

@{
    Layout = "~/Views/Shared/Metronic/_MainLayout.cshtml";
    var category = ViewBag.Categorie;

}
<h3 class="page-title">
  
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-tachometer"></i>@(Model == null ? "Tạo bài viết" : "Sửa bài viết")
        </div>
    </div>
    <div class="portlet-body" style="display: block; overflow: hidden;">
        <div id="collapse4" class="body">
            <div role="tabpanel">
                <!-- Tab panes -->
                <div class="tab-content">

                    <form action='@(Url.Action("SaveArticle", "Article"))' method="post" enctype="multipart/form-data" id="myform" class="change-password-form">
                        <div role="tabpanel" class="tab-pane active" id="article_create">
                            <br />
                            <div>
                                @Html.HiddenFor(c => c.ArticleID)
                                <div id="article_addnew" class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Phân loại</label>
                                        <div class="col-sm-5">
                                            <select id="CategoryID" name="CategoryID" class="form-control">
                                                @if (category != null)
                                                {
                                                    foreach (var item in category)
                                                    {
                                                        <option value="@item.ID" @*@(Model.CategoryID == item.ID ? "selected=selected" : "")*@>@item.CategoriesName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tiêu đề</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(c => c.Title, new { type = "text", @class = "form-control" })
                                            <div class="red">
                                                @Html.ValidationMessageFor(c => c.Title)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mô tả ngắn</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(c => c.ShortDescription, new { type = "text", @class = "form-control", cols = "4" })
                                            <div class="red">
                                                @Html.ValidationMessageFor(c => c.ShortDescription)
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ảnh Đại Diện</label>
                                        <div class="col-md-9">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img src="~/Content/img/noimage.png" />
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 10px;"></div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new"> Chọn Ảnh </span>
                                                        <span class="fileinput-exists"> Thay Đổi </span>
                                                        <input type="hidden" value="" name="ImageArticle"><input type="file" name="ImageArticle">
                                                    </span>
                                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Xóa </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nội dung</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(c => c.Content, new { type = "text", @class = "form-control" })
                                            <div class="red">
                                                @Html.ValidationMessageFor(c => c.Content)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Trạng Thái</label>
                                        <div class="col-sm-5">
                                            <select id="Status" name="Status" class="form-control">
                                                <option value="1">Hiện</option>
                                                <option value="2">Chờ Duyệt</option>
                                                <option value="3">Ẩn</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="IsCommented" value="true" type="checkbox" @*@(Model.IsCommented == false ? "" : "checked=checked")*@>
                                                    Được phép comment
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Link Seo Bài Viết</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(c => c.Title, new { type = "text", @class = "form-control" })
                                            <div class="red">
                                                @Html.ValidationMessageFor(c => c.Title)
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Content/File/ImageArtcle/images/1.jpg" />



                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" id="submit" class="btn btn-primary">@*@(Model.ArticleID == 0 ? "Thêm bài viết" : "Sửa bài viết")*@</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <link href="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")"></script>
    <script src="@Url.ContentVersion("~/Content/Metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")"></script>
    <script src="@Url.ContentVersion("~/Content/ckeditor/ckeditor.js")"></script>

    <script type="text/javascript">
        var myForm = '#myform';
        var txtArticleID = '#ArticleID';
        var cbCategoryID = '#CategoryID option:checked';
        var txtTitle = '#Title';
        var txtShortDescription = '#ShortDescription';
        var txtContent = '#Content';
        var txtDisplayTarget = 'input[name=DisplayTarget]:checked';
        var txtPublicDate = '#PublicDate';
        var cbxarticleStatus = '#articleStatus option:checked';
        var txtHotOrNew = '#HotOrNew';


        $(document).ready(function () {

            $('#PublicDate').datetimepicker({
                format: DateTimeFormat.LowerTimeFull,
                lang: 'vi',
                timepicker: true,
                autoclose: true,
            });
            CKEDITOR.replace('Content',
            {
                filebrowserBrowseUrl: '/Content/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder.html?Type=Images',
                filebrowserFlashBrowseUrl: '/Content/ckfinder/ckfinder.html?Type=Flash',
                filebrowserUploadUrl: '~/Content/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '/Content/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Images',
                filebrowserFlashUploadUrl: '/Content/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Flash'
            });
        });
    </script>
}