@using Phystones.Models.ContentData
@model PortfolioView
<div id="modal-content" class="clearfix">
    <div class="grid-14 alpha omega">
        <h2 class="text-left">
            @Model.Name
        </h2>
        <h3 class="tagline h4 text-left">
            @Model.CategoryName
        </h3>
    </div>
    <div class="grid-8 alpha text-left">
        @Html.Raw(Model.About)
    </div>
    <div class="grid-6 omega">
        <div class="player-hex list-hex-grid large clearfix text-right">
            <div class="hex grid-4">
                <a href="#" style="background-image: url(@Model.Avatar);">
                    <div class="hex-1"></div>
                    <div class="hex-2"></div>
                </a>
            </div>
        </div>
    </div>
    <a href="#" id="modal-close" data-dismiss="modal" class="ss-icon ss-standard">␡</a>
    <a id="modal-left">
        <i class="ss-icon ss-standard">◅</i>
    </a>
    <a id="modal-right">
        <i class="ss-icon ss-standard">▻</i>
    </a>
</div>
<div id="modal-footer" class="clearfix">
    <div class="grid-7 alpha">
        <div class="button-list">
            <a href="@Model.LinkProfile" class="button quaternary margin-right-standard">Follow</a>
            <a href="@Model.LinkWeb" class="button tertiary">Visit website</a>
        </div>
    </div>
</div>