@using EntitiesObject.Entities.WebEntities
@using Phystones.Content.Texts

@{
    ViewBag.Title = WebContent.About;
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
    var i = 1;
    var next = 0;
    var pre = 0;
    var content = ViewBag.Content as Out_Slogan_GetById_Result;
}


@if (content != null)
{
    <h1 id="tagline">@content.Title</h1>
    <h2 class="grid-10 center">
        @Html.Raw(content.ContentBody)
    </h2>
}







<section class="grid-14 center section">
    <hr class="grid-2 center">
    <h2 class="margin-bottom-small">What we do</h2>
    <ul class="clearfix list-icon-items large-margins">
        <li class="grid-4">
            <!-- Strategy -->
            <a data-modal-link="" data-m-group="capabilities" data-modal="/modal/strategy">
                <i class="circ secondary ss-icon ss-standard">
                    ◎
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">Strategy</span></h6>
                <p class="colour-body">Taking a simple idea through to a finished project by building a solid business foundation.</p>
            </a>
            <!-- UX -->
        </li>
        <li class="grid-4">
            <a href="#" data-modal-link="" data-m-group="capabilities" data-modal="/modal/ux">
                <i class="circ secondary ss-icon ss-standard">
                    👤
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">User Experience</span></h6>
                <p class="colour-body">UX is a crucial part of all our projects - ensuring a natural flow that everyone can use and enjoy.</p>
            </a>
            <!-- Design  -->
        </li>
        <li class="grid-4">
            <a href="#" data-modal-link="" data-m-group="capabilities" data-modal="/modal/design">
                <i class="circ secondary ss-icon ss-standard">
                    
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">Design</span></h6>
                <p class="colour-body">Much more than just pixel pushing - this is where we ensure your  site looks gorgeous and functions perfectly.</p>
            </a>
            <!-- Development  -->
        </li>
        <li class="grid-4">
            <a href="#" data-modal-link="" data-m-group="capabilities" data-modal="/modal/development">
                <i class="circ secondary ss-icon ss-standard">
                    ⚙
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">Development</span></h6>
                <p class="colour-body">
                    Turning designs into code that we can then power with some coding magic.
                </p>
            </a>
            <!-- E-commerce -->
        </li>
        <li class="grid-4">
            <a href="#" data-modal-link="" data-m-group="capabilities" data-modal="/modal/e-commerce">
                <i class="circ secondary ss-icon ss-standard">
                    
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">E-commerce</span></h6>
                <p class="colour-body">Our favourite! We can help with all aspect from payments to fulfilment.</p>
            </a>
            <!-- CMS -->
        </li>
        <li class="grid-4">
            <a href="#" data-modal-link="" data-m-group="capabilities" data-modal="/modal/cms">
                <i class="circ secondary ss-icon ss-standard">
                    💻
                    <i class="circ pulse"></i>
                </i>
                <h6><span class="pseudo-link">Content Management</span></h6>
                <p class="colour-body">
                    Use Mozzarella our CMS or Expression Engine depending on what is needed.
                </p>
            </a>
        </li>
    </ul>
</section>
<section class="section interactive" data-interactive="">
    <hr class="grid-2 center">
    <h2>The Players</h2>
    <div class="list-hex-grid large clearfix">
        @foreach (var item in ViewBag.Portfolio)
        {
            <div class="hex grid-4 invert secondary" style="opacity: 1;">
                <a onclick="OpenPopupPortfolio(@item.Id)" style="background-image: url(@item.Avatar);">
                    <div class="inner">
                        <h3>@item.Name</h3>
                        <hr class="grid-1 center">
                        <p>@item.CategoryName</p>
                    </div>
                    <div class="hex-1"><span class="after"></span></div>
                    <div class="hex-2"><span class="after"></span></div>
                    <span class="after"></span>
                </a>
            </div>
            if (i == 3 || i == 7 || i == 10 || i == 14 || i == 17 || i == 21 || i == 24 || i == 28)
            {
                @Html.Raw("<br class=''>")
            }
            i++;
        }
        <div class="hex grid-4 invert" style="opacity: 1;"></div>
        <div class="hex grid-4 invert" style="opacity: 1;"></div>
        <div class="hex grid-4 invert" style="opacity: 1;"></div>
    </div>
</section>
<section class="section">
    <hr class="grid-2 center">
    <h2>The Partners</h2>
    <div class="list-hex-grid with-labels clearfix small">
        <div class="hex grid-3 plain-bg inline-bg invert ">
            <a href="http://www.bytemark.co.uk/">
                <div class="inner">
                    <h3>Hosting</h3>
                </div>
                <img src="../Content/Theme/web/uploads/images/300/973076664.png" alt="Hosting">
                <div class="hex-1"><span class="after"></span></div>
                <div class="hex-2"><span class="after"></span></div>
                <span class="after"></span>
                <h6 class="below">
                    <span class="pseudo-link">Bytemark</span>
                </h6>
            </a>
        </div>
        <div class="hex grid-3 plain-bg inline-bg invert secondary">
            <a href="http://www.sagepay.com/">
                <div class="inner">
                    <h3>Payments</h3>
                </div>
                <img src="../Content/Theme/web/uploads/images/300/940579725.png" alt="Payments">
                <div class="hex-1"><span class="after"></span></div>
                <div class="hex-2"><span class="after"></span></div>
                <span class="after"></span>
                <h6 class="below">
                    <span class="pseudo-link">Sage Pay</span>
                </h6>
            </a>
        </div>
        <div class="hex grid-3 plain-bg inline-bg invert ">
            <a href="http://www.allysonjames.co.uk/">
                <div class="inner">
                    <h3>SEO</h3>
                </div>
                <img src="../Content/Theme/web/uploads/images/300/1691017913.png" alt="SEO">
                <div class="hex-1"><span class="after"></span></div>
                <div class="hex-2"><span class="after"></span></div>
                <span class="after"></span>
                <h6 class="below">
                    <span class="pseudo-link">Allyson James</span>
                </h6>
            </a>
        </div>
        <div class="hex grid-3 plain-bg inline-bg invert secondary">
            <a href="http://www.proudcreative.com/">
                <div class="inner">
                    <h3>Print/ID</h3>
                </div>
                <img src="../Content/Theme/web/uploads/images/300/472972961.png" alt="Print/ID">
                <div class="hex-1"><span class="after"></span></div>
                <div class="hex-2"><span class="after"></span></div>
                <span class="after"></span>
                <h6 class="below">
                    <span class="pseudo-link">Proud Creative</span>
                </h6>
            </a>
        </div>
    </div>
</section>
<div class="modal fade center" id="modalPortfolio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>